<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User page</title>
</head>
<body>

<div th:switch="${user.username}">
    <div th:case="null">
        <div th:with="action=@{/admin/new}"></div>
    </div>
    <div th:case="*">
        <div th:with="action=@{/admin/edit}"></div>
    </div>
</div>

<form th:method="${user.username == null} ? 'post' : 'patch'" th:action="${action}" th:object="${user}">
    <label for="name">Имя</label>
    <input type="text" th:field="*{username}" id="name">
    <br>
    <label for="password">Пароль</label>
    <input type="text" th:field="*{password}" id="password">
    <br>
    <label for="age">Возраст</label>
    <input type="number" th:field="*{age}" id="age">
    <br>
    <label for="roles">Роли: </label>
    <input type="checkbox" name="roles" id="roles"
           th:each="role : ${allRoles}"
           th:text="${role.name}"
           th:value="${role.id}"
           th:field="*{roles}">
    <br>
    <input type="submit" value="Сохранить">
</form>

</body>
</html>